@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #101010;
  font-family: "Noto Sans JP", sans-serif;
}

html {
  font-size: 62.5%;
}



/* header---------------------------------------- */

header {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1.5px);
  width: 100%;
  height: 7.2rem;
  padding: 0 15.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  z-index: 99;
  position: fixed;
  top: 0;
}

header .corporate-logo-white {
  width: 14rem;
  height: auto;
}

header .h-GNav-container {
  display: flex;
  gap: 7.2rem;
  font-size: 1.4rem;
}

header .h-GNav-item .h-GNav-item-title{
  color: #fff;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  font-weight: 600;
}



/* mv---------------------------------------- */

.index .mv {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/top/mv/top_mv_3024*1750.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.index .mv .corporate-logo-blue {
  width: 53rem;
  height: auto;
}