@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #101010;
}

/* header---------------------------------------- */

header {
  width: 100%;
}

header .corporate-logo-white {
  width: 14.1rem;
  height: auto;
}

/* mv---------------------------------------- */

.index .mv {
  width: 100%;
  aspect-ratio: 1.73 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/top/mv/top_mv_3024*1750.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.index .mv .corporate-logo-blue {
  width: 35%;
  height: auto;
  z-index: 99;
}