@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  color: #101010;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
}

/* header-main---------------------------------------- */

.header-main {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1.5px);
  width: 100%;
  height: 7.2rem;
  padding: 0 15.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  z-index: 99;
  position: fixed;
  top: 0;
}

.header-main .corporate-logo-white {
  width: 14rem;
  height: auto;
}

.header-main .h-GNav-container {
  display: flex;
  gap: 7.2rem;
}

.header-main .h-GNav-item .h-GNav-item-title {
  font-size: 1.4rem;
  color: #fff;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

/* header-other---------------------------------------- */

.header-other {
  background-color: #CCDEFF;
  backdrop-filter: blur(1.5px);
  width: 100%;
  height: 7.2rem;
  padding: 0 15.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  z-index: 99;
  position: fixed;
  top: 0;
}

.header-other .corporate-logo-white {
  width: 14rem;
  height: auto;
}

.header-other .h-GNav-container {
  display: flex;
  gap: 7.2rem;
}

.header-other .h-GNav-item .h-GNav-item-title {
  font-size: 1.4rem;
  color: #fff;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  font-weight: 600;
}


/* footer---------------------------------------- */
footer {
  width: 100%;
  height: auto;
  background-color: #CCDEFF;
  padding: 16rem 0 14rem 0;
  display: flex;
  justify-content: center;
}

footer .footer-container {
  width: 120rem;
  display: flex;
  align-items: start;
}

footer .footer-logo-image {
  width: 17.6rem;
  height: auto;
}

footer .footer-content {
  text-align: center;
}

footer .footer-sns {
  margin: 0 auto;
  width: 21.6rem;
  height: auto;
}

footer .footer-sns-title {
  font-weight: 500;
}

footer .footer-sns-list {
  margin-top: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-sns-image {
  width: 2.4rem;
  height: auto;
}

footer .f-GNav-list {
  margin-top: 5.6rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

footer .f-GNav-text {
  font-size: 1.4rem;
  color: #101010;
}

footer .f-GNav-contact .f-GNav-text {
  display: inline-block;
  font-size: 1.6rem;
  margin: 5.6rem 0 5.6rem 0;
}

footer .legal-link-list {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

footer .legal-link-text {
  color: #101010;
}

footer .footer-copyright {
  margin-top: 5.6rem;
}

/* scroll-top---------------------------------------- */

/* .scroll-top {
  height: auto;
  position:fixed;
  bottom: 42rem;
  right: 18rem;
}

.scroll-top .arrow-image {
  opacity: 0.8;
  width: 5.6rem;
} */

/* common---------------------------------------- */
.section-title {
  position: relative;
  color: #6198FF;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 4.8rem;
}

.section-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 24rem;
  background: linear-gradient(to right, #709EFC 0 30%, #E8F0FF 0 70%);
}

/* index --------------------------------------------------------------------------------*/

/* mv---------------------------------------- */

.index .mv {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/top/mv/top_mv_3024*1750.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.index .mv .corporate-logo-blue {
  width: 53rem;
  height: auto;
}

/* massage---------------------------------------- */
.index .message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(./images/top/message/underwater_3024*1760.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.index .message .message-wrapper {
  height: 64rem;
  font-family: "Shippori Mincho", "Mincho";
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 4em 8rem;
  background-color: rgba(97, 152, 255, 0.9);
  border-radius: 20px;
}

.index .message .message-title {
  margin-left: 2rem;
  color: #fff;
  font-size: 3.2rem;
}

.index .message .message-text {
  line-height: 2.4;
  text-align: center;
  color: #fff;
}


/* brand---------------------------------------- */
.index .brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 84rem;
  background-color: #E8F0FF;
}

.index .brand .brand-container {
  width: 120rem;
  height: auto;
}

.index .section-title_other {
  position: relative;
  color: #6198FF;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 4.8rem;
}

.index .section-title_other::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 24rem;
  background: linear-gradient(to right, #6198FF 0 30%, #fff 0 70%);
}

.index .brand .brand-content {
  display: flex;
  align-items: center;
  gap: 22.6rem;
}

.index .brand .brand-content .product-image {
  width: 42rem;
  height: auto;
}

.index .brand .brand-textbox {
  width: 34rem;
}

.index .brand .brand-catchcopy {
  display: flex;
  flex-flow: column;
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.index .brand .brand-description {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.index .brand .brand-cta {
  margin-top: 8rem;
  position: relative;
  text-align: right;
}

.index .brand .brand-cta-link {
  color: #5F79AA;
}

.index .brand .brand-cta-link::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 3rem;
  height: 3rem;
  background-image: url("/images/top/brand/Arrow_blue.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(1.2rem, 0.4rem);

}

/* news---------------------------------------- */
.index .news {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.index .news .news-container {
  margin: 10rem 0 5rem 0;
  width: 120rem;
}

.index .news .news-list {
  margin-bottom: 3.2rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #D9D9D9;
}

.index .news .news-list:last-child {
  margin-bottom: 0;
}

.index .news .news-item {
  display: flex;
  justify-content: left;
  gap: 2.4rem;
}

.index .news .news-date {
  font-size: 1.4rem;
}

.index .news .news-textlink {
  display: inline-block;
  margin: 2rem 0 0 10.2rem;
  color: #101010;
}

.index .news .news-category {
  font-size: 1.2rem;
  color: #fff;
  background-color: #6198FF;
  padding: 0.6rem 1rem;
  border-radius: 2rem;
}


/* other---------------------------------------- */
.index .other {
  margin: 5rem 0 10rem 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index .other .other-container {
  width: 120rem;
}

.index .other .other-content {
  margin-top: 7rem;
  text-align: center;
}

.index .other .other-btn {
  display: inline-block;
  width: 24rem;
  font-size: 2.4rem;
  color: #fff;
  background-color: #5F79AA;
  padding: 2rem 0;
}

.index .other .other-btn:last-child {
  margin-left: 16rem;
}

/* about --------------------------------------------------------------------------------*/

/* mission---------------------------------------- */
.about .mission {
  margin-top: 10rem;
  width: 100%;
}

.about.mission-container {
  width: 120rem;
}

